/*public*/
body {background:#25262a;color:#909090;}
a {color:#909090;}
/*header*/
.header {background:#202124;}
.header .home {background:url(skin/icon.png)5px 5px no-repeat;background-size:35px 35px;}
.header .channel{color:#FFFFFF;}
/*info*/
.sort p{border-bottom:1px solid #35363a;}
.sort p span{color:#909090}
.sort ul{width:100%;clear:both}
.sort li{float:left;width:33%;text-align:center;}
.sort .info li{border-bottom:1px solid #f2f2f2}
/*footer*/
.footer{border-top:1px solid #35363a;background:#25262a}
.footer a{color:#999}.footer a:hover{color:#0188fb}
.copyright {color:#999;}